<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- css -->
    <link rel="stylesheet" href="../css/index.css">

    <!-- W3 js -->
    <script src="https://www.w3schools.com/lib/w3.js"></script>

    <!-- Add font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Angular -->
    <script src="../js/angular.js"></script>
    <script>
        let app = angular.module("angularApp", []);
        app.controller("restaurantController", function($scope, $http) {
            $http({
                method: "GET",
                url: "../data/data.json"
            }).then(
                function success(response) {
                    $scope.restaurants = response.data;

                    $scope.selection = (val) => $scope.res_popup = val;
                },
                function error(response) {
                    $scope.error = response.statusText;
                }
            )
        })

        function openForm() {
            document.getElementById('popup-form').style.display = 'flex';
        }

        function closeForm() {
            document.getElementById("popup-form").style.display = "none";
        }
    </script>

</head>

<body ng-app="angularApp" ng-controller="restaurantController">
    <!-- navbar -->
    <div w3-include-html="nav&foot.html"></div>

    <!-- body -->
    <div class="container">
        <div id="popup-form" ng-if="res_popup">
            <form action="#" class="form-container">
                <div class="title">
                    <img src="{{res_popup.hinh}}" alt="">
                    <div id="close" onclick="closeForm()">x</div>
                    <h3>Danh sach dia diem</h3>
                </div>
                <div class="content">
                    <p class="content-title">Mien Bac</p>
                    <p>- 29 Liễu Giai VINCOM Center Metropolis Unit L1-16A Ground Floor, Ba Đình, Hà Nội</p>
                    <p>- 11 Tràng Tiền, Hoàn Kiếm, Hà Nội {{}}</p>
                    <p>- No.2, Lot G2, Ground Floor, Someret West Point, Đường Tây Hồ, Quảng An, Tây Hồ, Hà Nội</p>
                    <p class="content-title">Mien Nam</p>
                    <p>- 74/1 Hai Bà Trưng, Phường Bến Nghé, Quận 1, Tp. HCM</p>
                    <p>- LOT L1 – 01,02, Estella Place, 88 Song Hành, An Phú, Quận 2, Tp. HCM</p>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col" onclick="openForm()" ng-repeat="res in restaurants">
                <div class="card" ng-click="selection(res)">
                    <a href="">
                        <img class="card-img" src="{{res.hinh}}" alt="">
                        <p class="card-name">{{res.ten}}</p>
                        <p class="card-discount">Hoàn tiền {{res.hoanTien}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        w3.includeHTML()
    </script>

</body>

</html>