<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/phan2.css">
    <script src="../js/angular.js"></script>
    <script>
        let app = angular.module("AngularApp", []);
        app.controller("employeesController", function($scope, $http) {
            $http({
                method: "GET",
                url: "../data/Employees_CV.json",
            }).then(
                function success(response) {
                    $scope.employee = response.data;
                },
                function error(response) {
                    $scope.error = response.statusText;
                });
        })
    </script>
</head>

<body ng-app="AngularApp" ng-controller="employeesController">
    <div>
        <label>Dislay:</label>
        <input type="number">
    </div>
    <table class="table table table-striped">
        <tr>
            <th><a ng-click="Type = 'fullName'; reverse=!reverse"> Full Name </a></th>
            <th><a ng-click="Type = 'address'; reverse=!reverse"> Address </a></th>
            <th><a ng-click="Type = 'dob'; reverse=!reverse"> Date of Birth </a></th>
            <th><a ng-click="Type = 'gender'; reverse=!reverse"> Gender </a></th>
            <th><a ng-click="Type = 'salary'; reverse=!reverse"> Salary </a></th>
        </tr>
        <tr ng-repeat="e in employee | orderBy:Type:reverse">
            <td>{{e.fullName}}</td>
            <td>{{e.address}}</td>
            <td>{{e.dob| date:'dd/MM/yyyy'}}</td>
            <td>{{e.gender==true?"Male":"Female"}}</td>
            <td>{{e.salary}}</td>
        </tr>
    </table>
</body>

</html>